html 
  head 
      title murshid
  
  style 
      include ../static/style.css 

  body 
      h1 This practises
      p vdbdnkvdkckdcjnbdjknckloremw 
      script 
            include ../static/js.js